beautifulsoup4==4.9.3
certifi==2021.5.30
chardet==5.0.0
greenlet==1.1.0
idna==2.10
playwright==1.12.1
pyee==8.1.0
pytz==2022.1
requests==2.25.1
selenium==4.3.0
selenium-stealth==1.0.6
soupsieve==2.2.1
TikTokApi==5.2.1
urllib3==1.26.10
websockets==10.3
